{% extends 'base.html.twig' %}

{% block body %}

  <h1>Bienvenue dans ce blog!</h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est eveniet fugiat voluptas possimus odit similique et
          officiis reprehenderit consectetur error, nesciunt, ipsa eaque. Molestiae eius provident qui minima animi et illum
          exercitationem quibusdam, necessitatibus laborum itaque consectetur impedit quaerat iste.</p>
  <p>Neque repellat ipsam facere, blanditiis quasi enim ipsa voluptatem consequuntur delectus eos omnis assumenda
          consequatur adipisci ex recusandae sed expedita quis deleniti? Asperiores recusandae earum at qui. Facere eligendi
          corporis molestiae temporibus possimus, tempora deleniti expedita mollitia cumque tenetur animi.</p>
{% endblock %}
