{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<section class="articles">
    (article>h2{Titre de l'article}+div.metadata{Ecrit le 27/05/2019 à 16:00 dans la catégorie
    Serie}+div.content>img+(p>lorem15)*2+a.btn-primary{Lire la suite})*3
</section>
{% endblock %}