{% extends 'base.html.twig' %}

{% block body %}
  <article>
      <h2>Titre de l'article</h2>
      <div class="metadata">Ecrit le 27/05/2019 à 16:00 dans la catégorie Serie</div>
      <div class="content">
        <img src="http://placehold.it/350x150{{ path('blog_show') }}" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo reiciendis mollitia quam similique delectus necessitatibus.</p>
        <p>Voluptate temporibus enim ea natus, labore ipsa voluptatem ipsum magni suscipit iure voluptates quos sit.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione deleniti ut, vel vero minus esse eaque veritatis iure dolorem quam! Natus repudiandae dignissimos eos ex doloribus totam. Cum pariatur nulla perferendis quas. Quia, voluptate corporis architecto illum sequi perferendis voluptas eos! Labore et non sequi molestias eos a dicta deleniti?</p>
        <p>Consequuntur laborum ab aliquid cupiditate fuga dolorum explicabo laboriosam vel ipsam praesentium similique perferendis rem, debitis ut reiciendis eum nulla ex quidem perspiciatis consectetur mollitia, earum tempore, neque libero. Impedit id rerum qui excepturi aut nisi dolorum culpa ratione? Recusandae nihil, hic accusamus illo voluptate similique vel incidunt id debitis.</p> 
      </div>
  </article>
{% endblock %}